.upload-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.category {
  margin-bottom: 20px;
}

.category h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
}


.upload-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #fff;
  transition: border 0.3s ease;
}

.upload-box:hover {
  border-color: #cdd7e2;
}

.doc-name {
  font-size: 16px;
  font-weight: 500;
}

.upload-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.upload-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 6px 12px;
  background: #d6ddeb;
  color: #0056b3;
  border-radius: 5px;
  font-size: 14px;
  transition: background 0.3s ease;
}

.upload-btn:hover {
  background: #d6ddeb;
}

.upload-icon {
  font-size: 18px;
  color: #0056b3;
}

.file-name {
  font-size: 14px;
  color: #555;
  font-weight: 500;
}
